[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "~=8.2"
pre-commit = "*"
pytest = "~=7.1"

[packages]
pydantic = "~=1.10"

[requires]
python_version = "3.11.0"
